*{  
    width:80%;
    margin:0 auto;
}
h2{
    text-align: center;
    margin-top:50px;
    padding:10px 5px;
    background:rgba(127, 54, 127, 0.598);
}
p{
    padding:20px 5px;
    border: 1px solid rgba(36, 143, 143, 0.427);
    border-radius: 5px;
    margin-top:10px;
    background:rgba(0, 0, 255, 0.377);
}